*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.flexBox{
    display: flex;
    margin-bottom: 150px;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.header-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    /* background-position: left; */
}
.headerLeft{
    max-width: 55%;
    padding-top: 50PX;
    padding-right: 15px;
}
.headerLeft h1{
    font-size: 50PX;
    font-weight: 700;
    color: #111;
    margin-bottom: 30px;
}
.orange-cololr{
    color: orange;
}
.headerLeft h3{
    font-size: 18.72px;
    font-weight: 700;
    margin: 18.72px 0px;
}
.headerLeft p{
    color: #696969;
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0px;
    margin-bottom: 20px;
}
.btn{
    color: #fff;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}
.headerRight{
    max-width: 45%;
    
}
.headerRight img{
    max-width: 100%;
}

.banner-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bannerLeft{
    max-width: 45%;
    padding-right: 20px;
}
.bannerLeft img{
    max-width: 100%;
}
.bannerRight{
    max-width: 55%;
    padding-left: 10px;
}
.bannerRight h1{
    font-size: 40px;
    font-weight: 700;
    margin: 33.2px 0px;
}
.bannerRight h3{
    font-size: 18.72px;
    margin: 18.72px 0px;
    font-weight: 700;
}
.bannerRight p{
    color: #696969;
    font-size: 16px;
    margin: 16px 0px;
    font-weight: 400;
}
.footerTop{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.footerTop h2{
    font-size: 40px;
    margin: 33.2px 0px;
    font-weight: 700;
}

.footerLeft{
    max-width: 45%;
    margin-right: 5%;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.527);
    padding: 30px 30px 100px 30px;
    border-radius: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 0, 0), tomato) ;
    border-image-slice: 1; 

}
.footerLeft h2{
    font-size: 40px;
    margin: 33.2px 0px;
    font-weight: 700;
}
.footerLeft h3{
    color: orange;
    font-size: 18.72px;
    margin: 18.72px 0px;
    font-weight: 700;
}
.footerLeft p{
    color: #696969;
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0px;
}
.footerRight{
    max-width: 45%;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.527);
    padding: 30px 30px 100px 30px;
    border-radius: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1; 
   
}

.footerRight h2{
    font-size: 40px;
    margin: 33.2px 0px;
    font-weight: 700;
}
.footerRight h3{
    color: orange;
    font-size: 18.72px;
    margin: 18.72px 0px;
    font-weight: 700;
}
.footerRight p{
    color: #696969;
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0px;
}

footer p{
    text-align: center;
    margin-bottom: 20px;
}